

.panel-ref {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    & > .title {
        font-size: 22px;
        letter-spacing: .5px;
        font-weight: 500;
    }

    .referral {
        // transform: translate(-310px, 0);
    }

    @media (max-width: 500px) {
        flex-direction: column;
        margin-bottom: 30px;
        gap: 20px;
    }
}