
.header-banner {
    // width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 4;

    .title {
        margin-bottom: 60px;

        h1 {
            font-size: 62px;
            letter-spacing: 2px;
            background: linear-gradient(60deg, var(--base-color), var(--sub-color-2));
            background-clip: text;
            -webkit-text-fill-color: transparent;
            text-transform: uppercase;
            font-weight: 900;
            font-style: italic;
            margin: 0 0 40px;
        }
        h2 {
            font-weight: 400;
            font-size: 22px;
            letter-spacing: 2px;
            width: 400px;
        }
    }
}