

.panel {

    .content {
        margin-top: var(--ptop);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .side {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        .left-side {
            gap: 25px;

            .status {
                font-size: 18px;
                font-weight: 500;
                letter-spacing: 1px;
            }
        }

        .right-side {
            
        }
    }

    @media (max-width: 900px) {
        .filled {
            display: none;
        }
    }
    @media (max-width: 450px) {
        .content {
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;
        }
    }
}