

.panel-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-right: 40px;
    background-color: var(--dark-color-2);
    padding: 5px 5px 5px 15px;
    border-radius: 2px;

    @media (max-width: 900px) {
        margin-right: 0;
    }

    .username {

    }

    .buttons {
        display: flex;
        gap: 7px;

        img {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }
}