
.switcher {
    display: flex;
    justify-content: center;

    .type {
        padding: 10px 0;
        text-align: center;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 400;
        cursor: pointer;
        // transition: all .1s ease 0s;

        &.active {
            border-bottom: 2px solid var(--base-color);
            font-weight: 700;
        }
    }
}